#moco {
  position: fixed;
  bottom: 100px;
  right: 20px;

  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: -1px -1px 15px 4px rgba(0,0,0,0.05), 2px 2px 15px 4px rgba(0,0,0,0.05);

  cursor: pointer;
}
