button.moco-bx-btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  color: white;
  background-image: none;
  background-color: #7dc332;
  border-color: #7dc332;
  border-radius: 0;
  box-shadow: none;
  font-size: 100%;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: #639a28;
    border-color: #639a28;
  }

  &:disabled {
    opacity: 0.65;
    cursor: default;
  }

  &.secondary {
    color: black;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
      background-color: #f4f4f4;
      border-color: #ccc;
    }
  }

  & + button {
    margin-left: 0.5rem;
  }
}
