button.moco-bx-btn {
  display: block;
  padding: 8px 12px;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  color: white;
  background-image: none;
  background-color: $green;
  border-color: $green;
  border-radius: 0;
  border-style: solid;
  box-shadow: none;
  font-size: 100%;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover:not(:disabled) {
    background-color: $green-dark;
    border-color: $green-dark;
  }

  &:disabled {
    opacity: 0.65;
    cursor: default;
  }

  &.secondary {
    color: black;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
      background-color: #f4f4f4;
      border-color: #ccc;
    }
  }

  & + button {
    margin-left: 0.5rem;
  }
}
