@import "button";

input {
  border-radius: 0;
  height: 20px;
}

.form-group {
  width: 100%;
  margin: 1rem 0;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  input, textarea {
    padding: 6px 12px;
    background-color: white;
    border-color: #cccccc;
    width: 100%;
    font-size: 100%;
    border-style: solid;
    border-width: 1px;
  }

  .text-muted {
    color: #999;
  }

  &.has-error {
    input, textarea {
      border-color: #FB3A2F;
    }
  }

  .form-error {
    color: #FB3A2F;
  }

  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    input {
      position: relative;
      display: table-cell;
    }

    .input-group-addon {
      padding: 6px 12px;
      font-weight: normal;
      color: #555555;
      text-align: center;
      background-color: #eeeeee;
      border: 1px solid #cccccc;
      border-left: none;
      display: table-cell;
      width: 1%;
    }
  }
}

.moco-bx-select + .moco-bx-select {
  margin-top: 3px;
}

input[name="hours"] {
  width: 48px;
}

textarea[name="description"] {
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

