#moco-bx-bubble, #moco-bx-container {
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 2px solid #999;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner .75s linear infinite;
  }
}
