@import "variables";
@import "button";
@import "animation";

#moco-bx-root {
  font-family: $font-family;
  color: $font-color;
  pointer-events: all;

  .text-red {
    color: $red;
  }

  .moco-bx-bubble {
    box-sizing: content-box;
    position: fixed;
    bottom: 2rem;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: -1px -1px 15px 4px rgba(0, 0, 0, 0.05), 2px 2px 15px 4px rgba(0, 0, 0, 0.05);
    padding: 5px;
    z-index: 9999;
    cursor: pointer;
    animation: fadeIn ease-in-out 300ms;

    .moco-bx-bubble-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      img.moco-bx-logo {
        width: 30px;
        height: 30px;
      }

      .moco-bx-booked-hours {
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        line-height: 1;
        color: black;
        text-align: center;
        padding: 5px 0 7px;
      }
    }
  }
}

#moco-bx-popup-root {
  font-family: $font-family;
  color: $font-color;
  pointer-events: all;

  iframe {
    border: 0;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .moco-bx-popup {
    position: fixed;
    z-index: 2000;
    padding-top: 5vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;

    .moco-bx-popup-content {
      background-color: white;
      margin: 0 auto;
    }
  }
}
