@import "form";

#moco-bx-root {
  font-family: system-ui, sans-serif;

  .moco-bx-options {
    padding: 0.5rem 2rem 1rem;

    input {
      padding: 8px 12px;
      height: 29px;
    }

    .text-success {
      color: #7DC332;
    }

    .text-danger {
      color: #FB3A2F;
    }
  }
}
