@import "variables";
@import "reset";
@import "form";

#moco-bx-root {
  font-family: $font-family;
  font-size: 14px;

  .moco-bx-options {
    padding: 0rem 2rem 2rem;

    h2 {
      font-size: 1.5rem;
      margin: 1rem 0 2rem;
    }

    input {
      box-sizing: border-box;
      padding: 6px 12px;
      height: 32px;
    }

    .text-success {
      color: #7DC332;
    }

    .text-danger {
      color: #FB3A2F;
    }
  }
}
