@import "variables";
@import "form";
@import "spinner";

html {
  overflow: hidden;

  body {
    font-size: 14px;
    margin: 0px;
    font-family: $font-family;
    color: $font-color;

    #moco-bx-root {
      min-width: 516px;
      min-height: 300px;
      transition: height 2s ease-out;

      h1 {
        font-weight: normal;
        line-height: 1.2;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }

      .text-red {
        color: $red;
      }

      .text-secondary {
        color: $gray-base;
      }

      .moco-bx-app-container {
        width: 324px;
        padding: 3rem 6rem;

        .moco-bx-logo__container {
          margin-bottom: 3rem;
          text-align: center;

          img.moco-bx-logo {
            width: 48px;
            height: 48px;
          }
        }

        .moco-bx-calendar {
          display: flex;
          justify-content: space-between;
          margin-bottom: 3rem;

          .moco-bx-calendar__day {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            flex: 0 0 42px;
            width: 42px;
            cursor: pointer;

            .moco-bx-calendar__day-of-week {
              margin-bottom: 5px;
              font-size: 12px;
              color: hsl(0, 0%, 60%);
            }

            .moco-bx-calendar__hours {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 42px;
              height: 42px;
              flex: 0 0 42px;
              color: white;
              background-color: #eee;
            }

            &.moco-bx-calendar__day--filled {
              .moco-bx-calendar__hours {
                background-color: $green;
              }
            }

            &.moco-bx-calendar__day--week-day-6,
            &.moco-bx-calendar__day--week-day-0 {
              .moco-bx-calendar__hours {
                background-color: #bbb;
              }
            }

            &.moco-bx-calendar__day--active {
              .moco-bx-calendar__hours {
                background-color: $blue;
              }
            }
          }
        }

        .moco-bx-timer-view {
          text-align: center;
          margin-top: 3rem;

          h2 {
            font-weight: normal;
            font-size: 24px;
            line-height: 1.2;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          p {
            margin-top: 0.5rem;
          }

          .timer {
            margin-top: 2.5rem;
          }

          .btn-stop-timer {
            margin-top: 3rem;
            background-color: $red;
            border: none;
            border-radius: 50%;
            width: 80px;
            height: 80px;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .moco-bx-error-container {
        line-height: 1.5;
        width: 420px;
        padding: 3rem;
        text-align: center;

        img {
          margin-top: 1.5rem;
          margin-bottom: 2rem;

          &.moco-bx-logo {
            width: 48px;
            margin-bottom: 2rem;
          }

          &.firefox-addons {
            margin-top: 0;
            width: auto;
          }
        }

        button {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
