@import "form";
@import "spinner";
@import "variables";

html {
  body {
    font-size: 14px;
    margin: 0px;

    #moco-bx-root {
      padding: 2rem 3rem;
      width: $popup-width;

      .moco-bx-logo__container {
        display: flex;
        margin-bottom: 2rem;
        text-align: center;

        img.moco-bx-logo {
          flex: 0 0 48px;
          width: 48px;
          height: 48px;
          margin-right: 1rem;
        }

        h1 {
          line-height: 48px;
          margin: 0;
        }
      }

      .moco-bx-calendar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        .moco-bx-calendar__day {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          flex: 0 0 48px;
          width: 48px;
          height: 60px;
          cursor: pointer;

          .moco-bx-calendar__hours {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            flex: 0 0 48px;
            color: white;
            background-color: #eee;

          }

          &.moco-bx-calendar__day--filled {
            .moco-bx-calendar__hours {
              background-color: #7dc332;
            }
          }

          &.moco-bx-calendar__day--week-day-6,
          &.moco-bx-calendar__day--week-day-0 {
            .moco-bx-calendar__hours {
              background-color: #bbb;
            }
          }

          &.moco-bx-calendar__day--active {
            .moco-bx-calendar__hours {
              background-color: #38b5eb;
            }
          }
        }
      }
    }
  }
}
